<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7"
      crossorigin="anonymous" />
  </head>
  <body
    class="bg-secondary d-flex justify-content-center align-items-center vh-100">
    <!-- Contenedor principal -->
    <div
      class="d-flex justify-content-center align-items-center gap-3 bg-white rounded shadow text-secondary">
      <!-- Imagen -->
      <div class="col-lg-6">
        <img
          class="shadow text-secondary img-fluid object-fit-cover"
          src="../../../assets/33085517-5489-4416-a86c-c3748daf3307.png"
          alt="imagen-form"
          style="
            height: 30rem;
            width: 28rem;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
          " />
      </div>

      <!-- Formulario -->
      <div class="col-lg-6 p-5">
        <div class="text-center fs-1 fw-bold mb-2 text-secondary">Registro</div>

        <div class="input-group mb-2">
          <div class="input-group-text bg-warning border-1">
            <img
              src="../../../assets/username-icon.svg"
              alt="img-input"
              style="height: 1rem" />
          </div>
          <input
            type="text"
            placeholder="Nombre de Usuario"
            class="form-control" />
        </div>

        <div class="input-group mb-2">
          <div class="input-group-text bg-warning">
            <img
              src="../../../assets/password-icon.svg"
              alt="password-input"
              style="height: 1rem" />
          </div>
          <input
            type="password"
            placeholder="Contraseña"
            class="form-control" />
        </div>

        <div class="input-group mb-2">
          <div class="input-group-text bg-warning">
            <img
              src="../../../assets/password-icon.svg"
              alt="password-input"
              style="height: 1rem" />
          </div>
          <input
            type="password"
            placeholder="Repetir Contraseña"
            class="form-control" />
        </div>

        <div class="input-group mb-2">
          <div class="input-group-text bg-warning">
            <img
              src="../../../assets/arroba.svg"
              alt="email-input"
              style="height: 1rem" />
          </div>
          <input
            type="email"
            placeholder="Correo Electronico"
            class="form-control" />
        </div>

        <div class="col-12 mt-2">
          <button type="submit" class="btn btn-warning w-100 text-dark">
            Registrarme
          </button>
        </div>

        <div class="text-center mt-4">
          <p class="mb-1 small">
            Ya tengo cuenta
            <span>
              <a
                href="./login.html"
                class="text-decoration-none text-dark fw-semibold small"
                >Inicia Sesion</a
              >
            </span>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
